# Compiler files
cache/
out/
forge-cache/

# Dependency directories
node_modules/
lib/

# Environment variables
.env
.env.*

# IDE files
.idea/
.vscode/

# Debug files
*.log

# Coverage
coverage/
coverage.json

# Hardhat files
artifacts/
typechain/
typechain-types/

# Foundry
cache/
out/
broadcast/

# System files
.DS_Store